.item-mart-image {
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
}
.item-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3vw 3vw 3vw 15vw;
}
.item-title {
    width: 70%;
}
.item-title p{
    font-family: semibold;
    margin: 0;
}
.item-price{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-price p{
    color: #4d820e;
    font-family: semibold;
    font-size: 1.2rem;
    margin: 0;
}