.background-black {
  background-color: #F1F7EB;
  height: 100vh;
}

.camera-container {
  width: 100vw;
  height: 65vh;
}

.camera-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.total-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}