.background-black {
  background-color: #F1F7EB;
  height: 100vh;
}

.camera-container {
  width: 100vw;
  height: 65vh;
}

.camera-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.total-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swipe-menu {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 100%;
  font-size: 18px;
  color: #A0A0A0;
  font-weight: bold;
}

.menu-selected-background {
  position: absolute;
  background-color: #4D820E;
  height: 40px;
  width: 20vw;
}

.menu-item.selected {
  color: white
}

/*qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq*/
.menu {
  display: flex;
  align-items: center;
  height: 100px;
  user-select: none;
  cursor: grab;
  white-space: nowrap;
  overflow-x: hidden;
}

.menuItem {
  padding: 0 20px;
  font-size: 24px;
  font-weight: bold;
}

.menu:active {
  cursor: grabbing;
}